/*
 * Copyright (c) 2025 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define BT_FORCE_MACRO(slot) \
    bt_out##slot: bt_out##slot { \
        compatible = "zmk,behavior-macro"; \
        #binding-cells = <0>; \
        bindings = <&out OUT_BLE>, <&bt BT_SEL slot>; \
    }

/ {
    behaviors {

        td_lf_win_ctrl: tap_dance_lf_win_ctrl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp LEFT_WIN>, <&kp LG(LCTRL)>;
        };

        td_rt_win_ctrl: tap_dance_rt_win_ctrl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp RIGHT_WIN>, <&kp RG(RCTRL)>;
        };

        td_f1_f11: tap_dance_f1_f11 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp F1>, <&kp F11>;
        };

        td_f2_f12: tap_dance_f2_f12 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp F2>, <&kp F12>;
        };

        BLE_encoder: BLE_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_PRV>;
        };

        ctrl_dance: ctrl_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_DANCE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL>, <&kp RIGHT_CONTROL>;

            tapping-term-ms = <220>;
        };

        fn_tap: fn_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "FN_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <220>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    macros {
        BT_FORCE_MACRO(0);
        BT_FORCE_MACRO(1);
        BT_FORCE_MACRO(2);
        BT_FORCE_MACRO(3);
        BT_FORCE_MACRO(4);

        shift_contrl_alt: shift_contrl_alt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT &kp LCTRL &kp LEFT_ALT>;
            label = "SHIFT_CONTRL_ALT";
        };
    };

    keymap {
        compatible = "zmk,keymap";
// -----------------------------------------------------------------------------------------------------------------------------------------------------------
// [ 矩阵索引 (Matrix Index) ]
// |    0    |
//
// |    1    |    2    |    3    |    4    |    5    |    6    |    7    |         |    8    |    9    |   10    |   11    |   12    |   13    |   14    |
// |   15    |   16    |   17    |   18    |   19    |   20    |                             |   21    |   22    |   23    |   24    |   25    |   26    |
// |   27    |   28    |   29    |   30    |   31    |   32    |   33    |         |   34    |   35    |   36    |   37    |   38    |   39    |   40    |
// |   41    |   42    |   43    |   44    |   45    |   46    | 47 | 48 |         | 49 | 50 |   51    |   52    |   53    |   54    |   55    |   56    |
//                     |   57    |   58    |   59    |   60    |   61    |         |   62    |   63    |   64    |   65    |   66    |
// -----------------------------------------------------------------------------------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------------------------------------------------------------------------------
// [ Layer 0 : Default ]
// |  BOOT   | // 该按键在接收器上
//
// |   ESC   | F1/F11  | F2/F12  |   F3    |   F4    |   F5    |  MUTE   |         |   RGB   |   F6    |   F7    |   F8    |   F9    |   F10   |  BKSP   |
// |   TAB   |    Q    |    W    |    E    |    R    |    T    |                             |    Y    |    U    |    I    |    O    |    P    |    \    |
// | FN2/ENT |    A    |    S    |    D    |    F    |    G    |  MCLK   |         |  LCLK   |    H    |    J    |    K    |    L    |    ;    |    '    |
// |  LSHFT  |    Z    |    X    |    C    |    V    |    B    |LCLK|RCLK|         | BL-|BL+ |    N    |    M    |    ,    |    .    |    /    |  RSHFT  |
//                     | LF_W/C  |  LALT   |  CTL_D  | FN3/BKS | FN4/DEL |         | FN4/ENT | FN1/SPC |  CTL_D  |  LALT   | RT_W/C  |
// -----------------------------------------------------------------------------------------------------------------------------------------------------------
        default_layer {
            display-name = "default";
            bindings = <
&bootloader
&kp ESC      &kp N1    &kp N2     &kp N3     &kp N4  &kp N5  &kp CAPS     &kp PRINTSCREEN  &kp N6         &kp N7       &kp N8  &kp N9    &kp N0      &kp BACKSPACE
&kp TAB      &kp Q     &kp W      &kp E      &kp R   &kp T   &kp Y        &kp U            &kp I          &kp O        &kp P   &kp BSLH
&kp LSHFT    &kp A     &kp S      &kp D      &kp F   &kp G   &mkp MB1     &mkp LCLK        &kp H          &kp J        &kp K   &kp L     &kp RETURN  &kp RETURN
&kp LCTRL    &kp Z     &kp X      &kp C      &kp V   &kp B   &mkp LCLK    &mkp RCLK        &kp PAGE_DOWN  &kp PAGE_UP  &kp N   &kp M     &kp COMMA   &kp DOT        &kp EQUAL  &kp DEL
&kp LGUI     &kp LALT  &kp SPACE  &kp SPACE  &to 1   &to 2   &kp KP_PLUS  &kp MINUS        &kp STAR       &kp SLASH
            >;

            sensor-bindings =
                <&inc_dec_kp UP DOWN>,
                <&inc_dec_kp LEFT RIGHT>;
        };

// -----------------------------------------------------------------------------------------------------------------------------------------------------------
// [ Layer 1 : Num & Symbols ]
// |  BOOT   | // 该按键在接收器上
//
// |    `    |    !    |    @    |    #    |    $    |    %    |  trans  |         |  trans  |    +    |    7    |    8    |    9    |    ~    |    ^    |
// |    ~    |    <    |    -    |    =    |    >    |    _    |                             |    -    |    4    |    5    |    6    |    &    |    |    |
// |    ^    |    {    |    [    |    ]    |    }    |    $    |  trans  |         |  trans  |    *    |    1    |    2    |    3    |    :    |    '    |
// |  trans  |    ,    |    (    |    )    |    ;    |  none   |TRNS|TRNS|         |TRNS|TRNS|    %    |    0    |    ,    |    .    |    /    |  trans  |
//                     |  trans  |  trans  |  trans  |  trans  |  trans  |         |  trans  |  trans  |  trans  |  trans  |  trans  |
// -----------------------------------------------------------------------------------------------------------------------------------------------------------
        num_syb {
            display-name = "num_syb";
            bindings = <
&bootloader
&kp ESC      &kp LPAR  &none      &none      &kp DOLLAR  &none  &kp CAPS     &kp INSERT    &none       &kp KP_N7      &kp KP_N8     &kp KP_N9      &kp RPAR      &kp BACKSPACE
&kp TAB      &none     &none      &kp UP     &none       &none  &none        &kp KP_N4     &kp KP_N5        &kp KP_N6      &kp KP_COMMA  &kp BACKSLASH
&kp LSHFT    &kp A     &kp LEFT   &kp DOWN   &kp RIGHT   &none  &mkp MB1     &trans        &none            &kp KP_N1      &kp KP_N2     &kp KP_N3      &kp KP_ENTER  &kp RETURN
&kp LCTRL    &kp Z     &kp X      &kp C      &kp V       &none  &mkp MB1     &mkp MB2      &kp PAGE_DOWN    &kp PG_UP      &none         &kp KP_N0      &kp KP_N0     &kp KP_DOT     &kp KP_EQUAL  &kp DELETE
&kp LCMD     &kp LALT  &kp SPACE  &kp SPACE  &to 0       &to 2  &kp KP_PLUS  &kp KP_MINUS  &kp KP_ASTERISK  &kp KP_DIVIDE
            >;

            sensor-bindings =
                <&inc_dec_kp UP DOWN>,
                <&inc_dec_kp LEFT RIGHT>;
        };

// -----------------------------------------------------------------------------------------------------------------------------------------------------------
// [ Layer 2 : Direction & Media ]
// |  BOOT   | // 该按键在接收器上
//
// |   USB   |   BT0   |   BT1   |   BT2   |   BT3   |   BT4   |   PWR   |         |   SLP   |  none   |  none   |  none   |  none   |  none   | BT_CLR  |
// |  none   |  HOME   |    ↑    |   END   |  none   |  none   |                             |  none   |  none   |  none   |  none   |  none   |  none   |
// |  none   |    ←    |    ↓    |    →    |  none   |  none   |  none   |         |  none   |  LCLK   |  RCLK   |  none   |  none   |  none   |  none   |
// |  trans  |  PGUP   |   INS   |  PGDN   |  none   |  none   |NONE|NONE|         |NONE|NONE|  none   |  none   |  none   |  none   |  none   |  none   |
//                     |  trans  |  trans  |  trans  |  trans  |  trans  |         |  trans  |  trans  |  trans  |  trans  |  trans  |
// -----------------------------------------------------------------------------------------------------------------------------------------------------------
        direction {
            display-name = "direct";
            bindings = <
&bootloader
&kp ESC      &kp F1    &kp F2     &kp F3     &kp F4   &none  &bt BT_CLR  &kp K_MUTE  &bl BL_INC     &none        &none     &none     &none       &kp BACKSPACE
&kp TAB      &kp F5    &kp F6     &kp F7     &kp F8   &none  &bl BL_DEC  &none       &kp LBKT       &kp RBKT     &none     &none
&kp LSHFT    &kp F9    &kp F10    &kp F11    &kp F12  &none  &mkp MB1    &none       &none          &none        &kp SEMI  &kp APOS  &kp RETURN  &kp RETURN
&kp LCTRL    &kp Z     &kp X      &kp C      &kp V    &none  &mkp MB1    &mkp MB2    &kp PAGE_DOWN  &kp PAGE_UP  &none     &none     &kp COMMA   &kp DOT        &none  &kp DEL
&kp LCMD     &kp LALT  &kp SPACE  &kp SPACE  &to 1    &to 0  &trans      &trans      &trans         &trans
            >;

            sensor-bindings =
                <&BLE_encoder>,
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

// -----------------------------------------------------------------------------------------------------------------------------------------------------------
// [ Layer 3 : Function ]
// |  BOOT   | // 该按键在接收器上
//
// |   F12   |   F1    |   F2    |   F3    |   F4    |   F5    |  none   |         |  none   |   F6    |   F7    |   F8    |   F9    |   F10   |   F11   |
// |   F12   |   F11   |   F12   |   F13   |   F14   |   F15   |                             |   F16   |   F17   |   F18   |   F19   |   F20   |   F21   |
// |  CAPS   |   F21   |   F22   |   F23   |   F24   |  PRSC   |  none   |         |  none   |  LCLK   |  RCLK   |  none   |  none   |  none   | NUM_LCK |
// |  trans  |  none   | S(DEL)  | C(INS)  | S(INS)  |  S+C+A  |NONE|NONE|         |NONE|NONE|  none   |  none   |  none   |  none   |   RGB   |  trans  |
//                     |  trans  |  trans  |  trans  |  trans  |  trans  |         |  trans  |  trans  |  trans  |  trans  |  trans  |
// -----------------------------------------------------------------------------------------------------------------------------------------------------------
        fn_layer {
            display-name = "func";
            bindings = <
&bootloader
&kp F12      &kp F1   &kp F2          &kp F3          &kp F4          &kp F5             &none    &none    &kp F6     &kp F7     &kp F8   &kp F9   &kp F10  &kp F11
&kp F12      &kp F11  &kp F12         &kp F13         &kp F14         &kp F15            &kp F16  &kp F17  &kp F18    &kp F19    &kp F20  &kp F21
&kp CAPS     &kp F21  &kp F22         &kp F23         &kp F24         &kp PRINTSCREEN    &none    &none    &mkp LCLK  &mkp RCLK  &none    &none    &none    &kp KP_NLCK
&trans       &none    &kp LS(DELETE)  &kp LC(INSERT)  &kp LS(INSERT)  &shift_contrl_alt  &none    &none    &none      &none      &none    &none    &none    &none        &rgb_ug RGB_TOG  &trans
&trans       &trans   &trans          &trans          &trans          &trans             &trans   &trans   &trans     &trans
            >;
        };

        // 目前鼠标层的设计主要是为了配合左手键区的方向键层，以及ctrl c ctrl v ctrl x，但是无法使用fn层的万能复制粘贴键。
// -----------------------------------------------------------------------------------------------------------------------------------------------------------
// [ Layer 4 : Mouse ]
// |  BOOT   | // 该按键在接收器上
//
// |  trans  |  trans  |  trans  |  trans  |  trans  |  trans  |  trans  |         |  trans  |  trans  |  trans  |  trans  |  trans  |  trans  |  trans  |
// |  trans  |  trans  |  trans  |  trans  |  trans  |  trans  |                             |  trans  |  trans  |  trans  |  trans  |  trans  |  trans  |
// |  trans  |  trans  |  trans  |  trans  |  RCLK   |  LCLK   |  trans  |         |  trans  |  LCLK   |  RCLK   |  trans  |  trans  |  trans  |  trans  |
// |  trans  |  trans  |  trans  |  trans  |  trans  |  trans  |TRNS|TRNS|         |TRNS|TRNS|  trans  |  trans  |  trans  |  trans  |  trans  |  trans  |
//                     |  trans  |  trans  |  trans  |  trans  |  trans  |         |  SPACE  |  trans  |  trans  |  trans  |  trans  |
// -----------------------------------------------------------------------------------------------------------------------------------------------------------
        mouse_layer {
            display-name = "mouse";
            bindings = <
&bootloader
&trans       &trans          &trans          &trans           &trans     &trans     &trans     &trans  &trans     &trans     &trans  &trans  &trans  &trans
&trans       &trans          &trans          &trans           &trans     &trans     &trans     &trans  &trans     &trans     &trans  &trans
&trans       &trans          &trans          &trans           &mkp RCLK  &mkp LCLK  &trans     &trans  &mkp LCLK  &mkp RCLK  &trans  &trans  &trans  &trans
&trans       &trans          &trans          &trans           &trans     &trans     &trans     &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans          &trans          &trans           &trans     &trans     &kp SPACE  &trans  &trans     &trans
            >;
        };
    };
};
