/*
 * Copyright (c) 2025 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define BT_FORCE_MACRO(slot) \
    bt_out##slot: bt_out##slot { \
        compatible = "zmk,behavior-macro"; \
        #binding-cells = <0>; \
        bindings = <&out OUT_BLE>, <&bt BT_SEL slot>; \
    }

/ {
    behaviors {

        td_lf_win_ctrl: tap_dance_lf_win_ctrl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp LEFT_WIN>, <&kp LC(LEFT_WIN)>;
        };

        td_rt_win_ctrl: tap_dance_rt_win_ctrl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp RIGHT_WIN>, <&kp RC(RIGHT_WIN)>;
        };

        td_f1_f11: tap_dance_f1_f11 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp F1>, <&kp F11>;
        };

        td_f2_f12: tap_dance_f2_f12 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp F2>, <&kp F12>;
        };

        BLE_encoder: BLE_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_PRV>;
        };

        ctrl_dance: ctrl_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_DANCE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL>, <&kp RIGHT_CONTROL>;

            tapping-term-ms = <220>;
        };

        fn_tap: fn_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "FN_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <220>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    macros {
        BT_FORCE_MACRO = (0);
        BT_FORCE_MACRO = (1);
        BT_FORCE_MACRO = (2);
        BT_FORCE_MACRO = (3);
        BT_FORCE_MACRO = (4);

        shift_contrl_alt: shift_contrl_alt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT &kp LCTRL &kp LEFT_ALT>;
            label = "SHIFT_CONTRL_ALT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";
            bindings = <
&bootloader
&kp ESC          &td_f1_f11  &td_f2_f12   &kp F3               &kp F4         &kp F5           &kp C_MUTE       &rgb_ug RGB_TOG  &kp F6      &kp F7         &kp F8  &kp F9    &kp F10    &kp BACKSPACE
&kp TAB          &kp Q       &kp W        &kp E                &kp R          &kp T            &kp Y            &kp U            &kp I       &kp O          &kp P   &kp BSLH
&fn_tap 2 ENTER  &kp A       &kp S        &kp D                &kp F          &kp G            &mkp MCLK        &mkp LCLK        &kp H       &kp J          &kp K   &kp L     &kp SEMI   &kp APOS
&kp LSHFT        &kp Z       &kp X        &kp C                &kp V          &kp B            &mkp LCLK        &mkp RCLK        &bl BL_DEC  &bl BL_INC     &kp N   &kp M     &kp COMMA  &kp DOT        &kp FSLH  &kp RIGHT_SHIFT
&&td_lf_win_ctrl     &kp LALT    &ctrl_dance  &fn_tap 3 BACKSPACE  &fn_tap 4 DEL  &fn_tap 4 ENTER  &fn_tap 1 SPACE  &ctrl_dance      &kp LALT    &td_rt_win_ctrl
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp LS(TAB) TAB>;
        };

        num_syb {
            display-name = "num_syb";
            bindings = <
&bootloader
&kp GRAVE    &kp EXCL   &kp AT     &kp HASH   &kp DOLLAR  &kp PERCENT     &trans     &trans  &kp PLUS   &kp N7  &kp N8       &kp N9    &kp TILDE  &kp CARET
&kp TILDE    &kp LT     &kp MINUS  &kp EQUAL  &kp GT      &kp UNDERSCORE  &kp MINUS  &kp N4  &kp N5     &kp N6  &kp AMPS     &kp PIPE
&kp CARET    &kp LBRC   &kp LBKT   &kp RBKT   &kp RBRC    &kp DOLLAR      &trans     &trans  &kp ASTRK  &kp N1  &kp N2       &kp N3    &kp COLON  &kp SQT
&trans       &kp COMMA  &kp LPAR   &kp RPAR   &kp SEMI    &none           &trans     &trans  &trans     &trans  &kp PERCENT  &kp N0    &kp COMMA  &kp DOT    &kp FSLH  &trans
&trans       &trans     &trans     &trans     &trans      &trans          &trans     &trans  &trans     &trans
            >;
        };

        direction {
            display-name = "direct";
            bindings = <
&bootloader
&out OUT_USB  &bt_out0   &bt_out1    &bt_out2   &bt_out3  &bt_out4  &kp C_POWER  &kp C_SLEEP  &none      &none      &none  &none  &none  &bt BT_CLR
&none         &kp HOME   &kp UP      &kp END    &none     &none     &none        &none        &none      &none      &none  &none
&none         &kp LEFT   &kp DOWN    &kp RIGHT  &none     &none     &none        &none        &mkp LCLK  &mkp RCLK  &none  &none  &none  &none
&trans        &kp PG_UP  &kp INSERT  &kp PG_DN  &none     &none     &none        &none        &none      &none      &none  &none  &none  &none       &none  &none
&trans        &trans     &trans      &trans     &trans    &trans    &trans       &trans       &trans     &trans
            >;
        };

        fn_layer {
            display-name = "func";
            bindings = <
&bootloader
&kp F12      &kp F1   &kp F2          &kp F3          &kp F4          &kp F5             &none    &none    &kp F6     &kp F7     &kp F8   &kp F9   &kp F10  &kp F11
&kp F12      &kp F11  &kp F12         &kp F13         &kp F14         &kp F15            &kp F16  &kp F17  &kp F18    &kp F19    &kp F20  &kp F21
&kp CAPS     &kp F21  &kp F22         &kp F23         &kp F24         &kp PRINTSCREEN    &none    &none    &mkp LCLK  &mkp RCLK  &none    &none    &none    &kp KP_NLCK
&trans       &none    &kp LS(DELETE)  &kp LC(INSERT)  &kp LS(INSERT)  &shift_contrl_alt  &none    &none    &none      &none      &none    &none    &none    &none        &rgb_ug RGB_TOG  &trans
&trans       &trans   &trans          &trans          &trans          &trans             &trans   &trans   &trans     &trans
            >;
        };

        // 目前 鼠标层的设计主要是为了配合左手键区的方向键层，以及ctrl c ctrl v ctrl x，但是无法使用fn层的万能复制粘贴键。

        mouse_layer {
            display-name = "mouse";
            bindings = <
&bootloader
&trans       &trans          &trans          &trans           &trans     &trans     &trans     &trans  &trans     &trans     &trans  &trans  &trans  &trans
&trans       &trans          &mmv MOVE_UP    &trans           &trans     &trans     &trans     &trans  &trans     &trans     &trans  &trans
&trans       &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp RCLK  &mkp LCLK  &trans     &trans  &mkp LCLK  &mkp RCLK  &trans  &trans  &trans  &trans
&trans       &trans          &trans          &trans           &trans     &trans     &trans     &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans          &trans          &trans           &trans     &trans     &kp SPACE  &trans  &trans     &trans
            >;
        };

        /*
        RES_layer {
            display-name = "RESERVE";
            bindings = < &bootloader
&none                 &none         &none          &none             &none                &none                &none                                    &none        &none               &none              &none            &none           &none            &none            
&none                 &none         &none          &none             &none                &none                                                                      &none               &none              &none            &none           &none            &none
&none                 &none         &none          &none             &none                &none                &none                                    &none        &none               &none              &none            &none           &none            &none
&none                 &none         &none          &none             &none                &none                &none         &none        &none         &none        &none               &none              &none            &none           &none            &none
                      &none         &none          &none             &none                &none                                                                      &none               &none              &none            &none           &none
            >;
        };
*/
    };
};
